  <footer role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 col-sm-12" id="footer-social">
          <h5>Visit us on social media!</h5>
          <!--<a class="social-media" href="#"><%= icon('fab', 'facebook-f') %></a>-->
          <a class="social-media" href="https://twitter.com/charter2019nyc" target="_blank" aria-label="twitter"><%= icon('fab', 'twitter') %></a>
          <a class="social-media" href="https://www.youtube.com/channel/UCMRiyUa-4C3qH01YzZX4j7w" target="_blank" aria-label="youtube"><%= icon('fab', 'youtube') %></a>
        </div>
        <div class="col-md-7 col-sm-12" style="text-align:center;">
          <table style="height: 100%; width:100%">
            <tr><td style="vertical-align:middle;"><p style="margin:0;">For general inquires, please contact <a href="mailto:info@charter2019.nyc">info@charter2019.nyc</a></p></td></tr>
          </table>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>