  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <p>For general inquires, please contact <a href="mailto:info@charter2019.nyc">info@charter2019.nyc</a></p>
        </div>
        <div class="col-md-4 offset-md-1 col-sm-12" style="text-align:center;">
          <a class="social-media" href="#"><%= icon('fab', 'facebook-f') %></a>
          <a class="social-media" href="https://twitter.com/charter2019nyc" target="_blank"><%= icon('fab', 'twitter') %></a>
          <a class="social-media" href="#"><%= icon('fab', 'youtube') %></a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>