<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12 center">
      <img style="max-width: 1000px; width:100%;" src="<%= image_url("misc/Pamphlet-page-1.jpg") %>">
      </div>
    </div>
  </div>
<%= render partial: "footer" %>