<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12">
        <h2 class="page-title">About the Charter Revision Commission</h2>
        <p>Spicy jalapeno bacon ipsum dolor amet swine chuck alcatra flank nostrud. Mollit culpa frankfurter dolore. Kevin incididunt laboris aliquip short ribs doner biltong ea. Jowl porchetta minim cupim dolor. Pork chop aliqua labore ground round hamburger frankfurter quis alcatra swine in ipsum consequat bacon shoulder short ribs.</p>
        <h2 class="page-title">Additional Information</h2>
        <p>
          <%= link_to "Local Law 91 (PDF)", asset_path("/pdfs/Local Law 91.pdf", skip_pipeline: true)%>
        </p>
      </div>
    </div>
  </div>

<%= render partial: "footer" %>