<%= render partial: "header-banner" %>

  <div class="row" style="margin:0">
    <div id="banner" class="col-12">
      <nav class="navbar navbar-expand-md" style="padding: 0;">
        <button id="hamburger-toggler" class="navbar-toggler"  onclick="iconChange(this)" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span id="hamburger-text">Menu</span>
          <span id="hamburger" class="navbar-toggler-icon">
            <div class="bars bar1"></div>
            <div class="bars bar2"></div>
            <div class="bars bar3"></div>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active active-pointer dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="nav-item dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link dropdown-item" href="/charter">About the Charter</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/members">Meet the Commissioners</a>
                <!--<div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/staff">Staff</a>-->
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/resources">Resources</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/jobs">Jobs</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item disabled active-dropdown">FAQs <span class="sr-only">(current)</span></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Submit Your Ideas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hearings">Hearings & Meetings</a>
            </li>
            <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="contactDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hearings
              </a>
              <div class="nav-item dropdown-menu" aria-labelledby="contactDropdown">
                <a class="nav-link dropdown-item" href="/upcoming">Upcoming Hearings & Meetings</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/archived">Past Hearings & Meetings</a>
              </div>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports">Reports</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="page-title">Frequently Asked Questions</h2>
        <div class="faq-container" id="accordion">
          <style>
            .card,.card-header{background-color:initial;border:none;}
            .faq-container .faq-question{margin: 0;}
            .faq-container .btn-link{text-decoration: none;}
            .faq-container .btn-link:hover{text-decoration: none;}
            .faq-container .faq-answer{margin: 0 20px;}
          </style>
          <div class="card">
            <div class="card-header" id="what-is-new-york-charter">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
                  <p class="faq-question">+ What is the New York City Charter?</p>
                </button>
              </h5>
            </div>

            <div id="faq-1" class="collapse" aria-labelledby="what-is-new-york-charter" data-parent="#accordion">
              <div class="card-body">
                <p class="faq-answer">The New York City Charter serves as our local constitution, creating a structure for City government. The Charter establishes the key institutions and processes of City government and defines the authority and responsibilities of City agencies and elected officials. Significant chapters in the Charter outline the budget, planning, zoning, contracting, collective bargaining, and land use processes for the City.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="what-is-charter-revision-commision">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
                  <p class="faq-question">+ What is a Charter Revision Commission?</p>
                </button>
              </h5>
            </div>
            <div id="faq-2" class="collapse" aria-labelledby="what-is-charter-revision-commision" data-parent="#accordion">
              <div class="card-body">
                <p class="faq-answer">A Charter Revision Commission, authorized by New York State law, prepares a draft of proposed revisions to the Charter. This draft is then submitted to city voters for approval. The New York City Council passed Local Law 91 of 2018, which established the first Council-created Charter Revision Commission, the Charter Revision Commission 2019, which aims to carry out a comprehensive review of the Charter. The Charter Revision Commission 2019 consists of 15 appointed "Commissioners."</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="when-will-commission-start">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
                  <p class="faq-question">+ When will Charter Commission 2019 begin its work?</p>
                </button>
              </h5>
            </div>
            <div id="faq-3" class="collapse" aria-labelledby="when-will-commission-start" data-parent="#accordion">
              <div class="card-body">
                <p class="faq-answer">The Charter Revision Commission 2019 will hold a series of public meetings and hearings throughout the five borough from summer 2018 to fall 2019. The Commission will submit a draft of a new or revised Charter to voters for approval in November 2019.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="why-was-commission-created">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-4" aria-expanded="false" aria-controls="faq-4">
                  <p class="faq-question">+ Why was Charter Commission 2019 created?</p>
                </button>
              </h5>
            </div>
            <div id="faq-4" class="collapse" aria-labelledby="why-was-commission-created" data-parent="#accordion">
              <div class="card-body">
                <p class="faq-answer">The last Charter Revision Commission to fully overhaul the city's government concluded its work nearly 30 years ago. Charter Commission 2019 has a broad mandate to conduct a top-to-bottom review of the Charter. It's time for a fresh look at the structure of our city.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="how-to-get-involved">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-5" aria-expanded="false" aria-controls="faq-5">
                  <p class="faq-question">+ How can you get involved?</p>
                </button>
              </h5>
            </div>
            <div id="faq-5" class="collapse" aria-labelledby="how-to-get-involved" data-parent="#accordion">
              <div class="card-body">
                <p class="faq-answer">It is vital that we hear from you. At the meetings and hearings you can learn more about the issues and share your suggestions and ideas. You can also submit your ideas <%= link_to "here", contact_path %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render partial: "footer" %>