<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12">
        <h2 class="page-title">Job Opportunities</h2>
        <p>Want to join the staff? The Commission is hiring attorneys, researchers, communications professionals, and support staff.</p>
        <h4>Open Opportunities</h4>
        <% @jobs.each do |job| %>
          <%= link_to job.position, show_job_path(job.position) %><br>
        <% end %>
      </div>
    </div>
  </div>

<%= render partial: "footer" %>