<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-sm-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <h2 class="page-title center">Livestream</h2>
        <style>
          #livestream-container iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
          #livestream-container{position: relative;height: 0;overflow:hidden; padding-bottom: 56.25%;}
        </style>
        <div id="livestream-container">
          <!-- <iframe src="https://www.youtube.com/embed/GwY8RvaHKiE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
          <!--<iframe src="https://councilnyc.viebit.com/live/?v=f04a2b84-6077-488f-80eb-0b714d18417e&amp;s=false" frameborder="0" scrolling="no" seamless="" allowfullscreen=""></iframe>-->
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "footer" %>