<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-sm-12">
        <p><%= link_to "Back to meeting", show_hearing_path(@hearing.id) %></p>
        <%= @hearing.minutes.html_safe %>
      </div>
    </div>
  </div>

  <%= render partial: "footer" %>