<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12 center">
      To submit a Freedom of Information Law (FOIL) request to the <br>Charter Revision Commission 2019 please email us at: <a href="mailto:records@charter2019.nyc">records@charter2019.nyc</a>
      
      <br><br><strong style="text-decoration:underline;">or</strong><br><br>
      Write us at:
      <br>
      Anne F. McCaughey, Records Access Officer<br> 
      250 Broadway, 26th Floor<br>
      New York, New York 10007
 
      </div>
    </div>
  </div>

<%= render partial: "footer" %>