<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12 center">
        <h2 class="page-title">Resources</h2>
        <ul>
          <li style="list-style: none;">The New York City Charter (<a href="http://library.amlegal.com/nxt/gateway.dll/New%20York/charter/newyorkcitycharter?f=templates$fn=default.htm$3.0$vid=amlegal:newyork_ny" target="_blank">Click to view</a>)</li>
          <li style="list-style: none;">The New York City Charter (user-friendly)(<a href="https://nyc-charter.readthedocs.io/en/latest/" target="_blank">Click to view</a>)</li>
          <li style="list-style: none;">Guide for Charter Commissions <em>6e</em> (<%= link_to "Download the PDF", asset_path("/pdfs/National_Civic_League-Guide_Charter_Commissions.pdf", skip_pipeline: true)%>)</li>
        </ul>
      </div>
    </div>
  </div>
  <%= render partial: "footer" %>