// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input:not([type='file']),textarea,.full-width,{width:100%;}
textarea{height:300px;resize:none;}
.minutes-paragraph{
  line-height:30px;
  text-align:justify;
  text-indent:25px;
}