// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* OVER-RIDING BOOTSTRAPS CONTAINER CLASS MEDIA QUERIES */
@media (min-width: 1200px){
  .container {max-width: 100% !important;}
}
@media (min-width: 992px){
  .container {max-width: 100% !important;}
}
@media (min-width: 768px){
  .container {max-width: 100% !important;}
}
@media (min-width: 576px){
  .container {max-width: 100% !important;}
}
@font-face {
  font-family: 'GlacialIndifference-Regular';
  src: font-url("GlacialIndifference-Regular.otf") format('opentype');
}
@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: font-url("GlacialIndifference-Bold.otf") format('opentype');
}

/* Universal */
body {
  font-family: 'GlacialIndifference-Regular' !important;
  min-height:auto !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight:bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  // font-family: Georgia,Times,"Times New Roman",serif;
}

.oj-font{
  color:#F48C50;
}

.oj-bg{
  background-color:#F48C50;
}

.blue-font{
  color:#3457A2;
}

.blue-bg{
  background-color:#3457A2;
}

.center {
  text-align: center;
}

// .underline {
//   text-decoration: underline;
// }

/* Banner seal and title lockup */

#header-banner {
  margin-top: 20px;
  padding: 0;
}

.geo {
  color: #2F56A6;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  // font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 1.8em;
}

#seal {
  min-width: 150px;
  width: 13%;
}

#live{
  color:white;
  left: 15px;
  position: absolute;
  top: 9px;
  a{
    color:white;
    &:hover{color:white;}
    &:visited{color:white;}
  }
  #record{
    animation:blinkingText 3s infinite;
  }
  #offline{
    color:rgba(128, 128, 128, .8);
  }
}

@keyframes blinkingText{
  0%{color: rgba(200, 0, 0, 0.8);}
  25%{color: rgba(128, 128, 128, .8);}
  50%{color: rgba(200, 0, 0, .8);}
  75%{color: rgba(128, 128, 128, .8);}
  100%{color: rgba(200, 0, 0, .8);}
}

/*Google translate */

.lang-label{
  display: none;
  opacity: 0;
  padding: 5px;
}

.goog-te-gadget:not(:first-of-type){display: none;}
.goog-te-gadget-simple .goog-te-gadget-icon:not(:nth-child(1)), .goog-te-gadget-simple span:nth-child(4){display: none;}

#google_translate_element{
  background-color: white;
  .skiptranslate.goog-te-gadget{
    float: right;
  }
}
/* Nav bar menu */

#banner {
  margin-top: 20px;
  padding: 0;
  nav {
    background-color: #2F56A6;
    margin-bottom: 25px;
    box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 0.1);
    &.navbar.navbar-expand-sm {
      padding: 0;
    }
  }
}

ul.navbar-nav {
  margin: 0 auto;
  .nav-item {
    color: white;
    padding: 5px;
    a {
      color: white;
      padding: 5px;
    }
    &:not(.dropdown-menu):not(.active):hover {
      background-color: #23417D;
    }
    &.active {
      background-color: white;
      color: #2F56A6;
      a {
        color: #2F56A6;
        padding: 5px;
      }
    }
    &.dropdown-menu.show {
      background-color: #23417D;
      border-radius: 0;
      margin-top: 0;
      a:hover {
        background-color: white;
        color: #23417D;
      }
    }
    &.active .dropdown-menu.show {
      background-color: white;
      border-radius: 0;
      margin-top: 0;
      a:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.active-dropdown {
  background-color: rgba(0, 0, 0, 0.1) !important;
  cursor: not-allowed;
}

.active {
  cursor: not-allowed;
  &.active-pointer {
    cursor: pointer;
  }
}

/* Nav bar menu hamburger */

#hamburger-toggler {
  text-align: right;
  width: 100%;
}

#hamburger-text {
  color: white;
}

#hamburger {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  padding: 4px 0;
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
  .bar1 {
    margin-top: 0px;
  }
  .bar3 {
    margin-bottom: 0px;
  }
  .change {
    &.bar1 {
      -webkit-transform: rotate(-45deg) translate(-7px, 4px);
      transform: rotate(-45deg) translate(-7px, 4px);
    }
    &.bar2 {
      opacity: 0;
    }
    &.bar3 {
      -webkit-transform: rotate(45deg) translate(-9px, -6px);
      transform: rotate(45deg) translate(-9px, -6px);
    }
  }
}

/* Index page specific */

.home-image {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:5px;
  height: 450px !important;
  margin-bottom: 30px;
  width: 100%;
}

.slick-list.draggable{
  // border-radius:5px;
  border-radius:5px;
}

#home-image-carousel {
  border-radius:5px;
  // box-shadow: 2px 4px 6px #000;
  height: 450px;
  margin-bottom: 20px;
}
#hearing-message{
  background-color: rgba(0,0,0,.6);
  border-top-left-radius: 80% 80%;
  color: white;
  float: right;
  height: 100%;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 50%;
}
#hearing-message div{
  position: absolute;
  bottom:30px;
  right:20px;
}

.round-border{
  border-radius:5px;
}

.sidebar{
  background-color:#E6E6E6;
  padding:5px;
}
#contact-btn{
  background-color:#F48C50;
  color:white;
  font-size:24px;
  margin:20px auto;
  text-decoration:none;
  &:hover{background-color:#d87d4d}
}
#commissioner-pic img {
  width: 100%;
}

// h1.page-title,h2.page-title,h3.page-title,h4.page-title,h5.page-title,h6.page-title{text-decoration:underline;}

/* Job Page specific */

.application-method{
  margin-left: 30px;
}

/* Contact page specific */

#contact-form {
  width: 70%;
  margin: 0 auto;
  .form-inputs {
    width: 100%;
    height: 35px;
    &.submit {
      background-color: #2F56A6;
      border: none;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: #23417D;
      }
    }
  }
  .not-required {
    display: none;
  }
  .comments {
    resize: none;
    width: 100%;
  }
  #comment-submit{
    height:76px;
  }
}

#status {
  color: #D05D4E;
  list-style-position: inside;
  margin-bottom: 25px;
}

/* Members and Staff pages specific */
.headshot {
  width: 100%;
}
.image-container{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  border-radius:70%;
  box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.5);
  cursor:pointer;
  height:200px;
  margin:10px auto;
  width:200px;
}
.overlay{
  background-color:rgba(0,0,0,0.5);
  border-radius:70%;
  display:table;
  height:200px;
  width:200px;
  opacity:0;
  .name-and-role{
    color:white;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
  }
}

/* Hearing pages specific */
#hearing-map{
  box-shadow: 2px 4px 6px #000;
  height:450px;
  iframe{
    width:100%;
  }
}
#upcoming-hearings,#past-hearings{
  margin: 0 auto 35px;
  width:100%;
  tr{
    cursor:pointer;
    th,td{
      width:50%;
    }
  }
  tr:not(:first-child):hover{
    background-color:rgba(34, 138, 230,.2);
  }
  tr:nth-child(even){
    background-color:#CACACA;
  }
  tr:nth-child(odd){
    background-color:#F9F9F9;
  }
  tr:first-child{
    background-color:#2F56A6;
    color:white
  }
}

/* Footer */

footer {
  background-color: #E6E6E6;
  border-top: 3px solid #CACACA;
  margin-top: 50px;
  padding: 25px 0px;
  p {
    font-size: .9em;
    a {
      color: #2F56A6;
    }
  }
  #footer-social{
    text-align:center;
  }
  .social-media{
    background-color: #2F56A6;
    border-radius: 33px;
    color: white;
    display: inline-block;
    font-size: 33px;
    height: 50px;
    margin: 5px;
    position: relative;
    text-align: center;
    width: 50px;
    &:hover{
      color:white;
      background-color:#23417D;
    }
    &:visited{
      color:white;
    }
  }
}

/* Media Queries */
@media only screen and (max-width: 991px) {
  #comment-submit{
    height: auto;
    margin-top: 5px;
  }
  #contact-btn{
    font-size:20px;
  }
}

@media only screen and (max-width: 767px) {
  #upcoming-sept h3{
    font-size:17px;
  }
  #contact-btn{
    font-size:18px;
  }
  .home-image, 
  #home-image-carousel {
    height:400px !important;
  }
  #hearing-message {
    padding: 5px;
    div{
      bottom: 5px;
      right: 10px;
      h2 {
        font-size:1.3rem;
      }
    }
  }

  #visit-council {
    margin-top: 20px;
  }
  .geo {
    font-size: 1.4em;
  }
  #contact-form {
    width: 80%;
  }
  #footer-social{
    margin-bottom:15px;
    text-align:center;
  }
}

@media only screen and (max-width: 575px) {
  #upcoming-sept h3{
    font-size:12px;
  }
  .home-image, 
  #home-image-carousel {
    height:300px !important;
  }
  ul.navbar-nav .nav-item {
    padding: 0px;
  }
  #contact-form {
    width: 100%;
  }
  #hearing-message {
    width:60%;
  }
}